In [1]:
import requests
url = "https://storage.googleapis.com/karmicseed-assessments-data/historical_sales.json"
response = requests.get(url)
data_json =  response.json()
print(data_json[:2])

[{'Date': '2025-09-01', 'SKU': 'MN-01', 'Sessions - Total': '22', 'Page Views - Total': '32', 'Units Ordered': '6', 'Ordered Product Sales': '228.1', 'Total Order Items': '5'}, {'Date': '2025-09-01', 'SKU': 'MN-02', 'Sessions - Total': '28', 'Page Views - Total': '33', 'Units Ordered': '5', 'Ordered Product Sales': '158.96', 'Total Order Items': '5'}]

In [2]:
import json
print(json.dumps(data_json[:2], indent=4))

[
    {
        "Date": "2025-09-01",
        "SKU": "MN-01",
        "Sessions - Total": "22",
        "Page Views - Total": "32",
        "Units Ordered": "6",
        "Ordered Product Sales": "228.1",
        "Total Order Items": "5"
    },
    {
        "Date": "2025-09-01",
        "SKU": "MN-02",
        "Sessions - Total": "28",
        "Page Views - Total": "33",
        "Units Ordered": "5",
        "Ordered Product Sales": "158.96",
        "Total Order Items": "5"
    }
]

In [3]:
import pandas as pd
Historical_Sales = pd.DataFrame(data_json)
Historical_Sales

,Date,SKU,Sessions - Total,Page Views - Total,Units Ordered,Ordered Product Sales,Total Order Items
0,2025-09-01,MN-01,22,32,6,228.1,5
1,2025-09-01,MN-02,28,33,5,158.96,5
2,2025-09-01,MN-03,9,12,2,81.35,2
3,2025-09-01,MN-07,31,41,2,70.11,2
4,2025-09-01,MN-09,24,32,2,32.26,1
...,...,...,...,...,...,...,...
4238,2025-11-30,MN-46,11,13,2,44.67,2
4239,2025-11-30,MN-47,4,4,1,72.94,1
4240,2025-11-30,MN-48,3,6,6,481.66,2
4241,2025-11-30,MN-49,27,42,4,142.73,4
4242,2025-11-30,MN-50,18,28,9,283.5,4

In [4]:
Historical_Sales.tail()

,Date,SKU,Sessions - Total,Page Views - Total,Units Ordered,Ordered Product Sales,Total Order Items
4238,2025-11-30,MN-46,11,13,2,44.67,2
4239,2025-11-30,MN-47,4,4,1,72.94,1
4240,2025-11-30,MN-48,3,6,6,481.66,2
4241,2025-11-30,MN-49,27,42,4,142.73,4
4242,2025-11-30,MN-50,18,28,9,283.5,4

In [5]:
import numpy as np
MISSING_VALUES = [
    "", " ", "  ", "NA", "N/A", "na", "null", "None", "-", "--"
]
Historical_Sales.replace(MISSING_VALUES, np.nan, inplace=True)
Historical_Sales

,Date,SKU,Sessions - Total,Page Views - Total,Units Ordered,Ordered Product Sales,Total Order Items
0,2025-09-01,MN-01,22,32,6,228.1,5
1,2025-09-01,MN-02,28,33,5,158.96,5
2,2025-09-01,MN-03,9,12,2,81.35,2
3,2025-09-01,MN-07,31,41,2,70.11,2
4,2025-09-01,MN-09,24,32,2,32.26,1
...,...,...,...,...,...,...,...
4238,2025-11-30,MN-46,11,13,2,44.67,2
4239,2025-11-30,MN-47,4,4,1,72.94,1
4240,2025-11-30,MN-48,3,6,6,481.66,2
4241,2025-11-30,MN-49,27,42,4,142.73,4
4242,2025-11-30,MN-50,18,28,9,283.5,4

In [6]:
Historical_Sales.isna().sum()

Date                     0
SKU                      0
Sessions - Total         4
Page Views - Total       4
Units Ordered            4
Ordered Product Sales    4
Total Order Items        4
dtype: int64

In [7]:
Historical_Sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4243 entries, 0 to 4242
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   4243 non-null   object
 1   SKU                    4243 non-null   object
 2   Sessions - Total       4239 non-null   object
 3   Page Views - Total     4239 non-null   object
 4   Units Ordered          4239 non-null   object
 5   Ordered Product Sales  4239 non-null   object
 6   Total Order Items      4239 non-null   object
dtypes: object(7)
memory usage: 232.2+ KB

In [8]:
Historical_Sales.columns

Index(['Date', 'SKU', 'Sessions - Total', 'Page Views - Total',
       'Units Ordered', 'Ordered Product Sales', 'Total Order Items'],
      dtype='object')

In [9]:
numeric_cols = [
    "Sessions - Total",
    "Page Views - Total",
    "Units Ordered",
    "Ordered Product Sales",
    "Total Order Items"
]

In [10]:
for col in numeric_cols:
    Historical_Sales[col] = (
        Historical_Sales[col]
        .astype(str)
        .str.replace(",", "", regex=False)
        .str.strip()
    )

In [11]:
for col in numeric_cols:
    Historical_Sales[col] = pd.to_numeric(Historical_Sales[col], errors="coerce")

In [12]:
Historical_Sales["Date"] = pd.to_datetime(Historical_Sales["Date"], errors="coerce")

In [13]:
Historical_Sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4243 entries, 0 to 4242
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   4212 non-null   datetime64[ns]
 1   SKU                    4243 non-null   object
 2   Sessions - Total       4239 non-null   float64
 3   Page Views - Total     4239 non-null   float64
 4   Units Ordered          4239 non-null   float64
 5   Ordered Product Sales  4239 non-null   float64
 6   Total Order Items      4239 non-null   float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 232.2+ KB

In [14]:
Historical_Sales.head()

,Date,SKU,Sessions - Total,Page Views - Total,Units Ordered,Ordered Product Sales,Total Order Items
0,2025-09-01,MN-01,22.0,32.0,6.0,228.10,5.0
1,2025-09-01,MN-02,28.0,33.0,5.0,158.96,5.0
2,2025-09-01,MN-03,9.0,12.0,2.0,81.35,2.0
3,2025-09-01,MN-07,31.0,41.0,2.0,70.11,2.0
4,2025-09-01,MN-09,24.0,32.0,2.0,32.26,1.0

In [15]:

Historical_Sales[numeric_cols] = Historical_Sales[numeric_cols].fillna(0)
Historical_Sales.isna().sum()

Date                     31
SKU                       0
Sessions - Total          0
Page Views - Total        0
Units Ordered             0
Ordered Product Sales     0
Total Order Items         0
dtype: int64

In [16]:
# Aggregate Demand Metrics Per SKU
df = (
    Historical_Sales
    .groupby("SKU", as_index=False)
    .agg({
        "Sessions - Total": "sum",
        "Units Ordered": "sum",
        "Ordered Product Sales": "sum",
        "Page Views - Total": "sum",
        "Total Order Items" : "sum"
    })
)
df

,SKU,Sessions - Total,Units Ordered,Ordered Product Sales,Page Views - Total,Total Order Items
0,MN-01,1921.0,587.0,24582.01,2484.0,475.0
1,MN-02,1842.0,431.0,15678.89,2440.0,326.0
2,MN-03,859.0,196.0,7340.65,1135.0,152.0
3,MN-04,604.0,191.0,6002.72,783.0,126.0
4,MN-05,1917.0,341.0,8040.18,3011.0,302.0
5,MN-06,562.0,124.0,1978.61,746.0,106.0
6,MN-07,1815.0,236.0,8815.03,2553.0,221.0
7,MN-08,168.0,43.0,1300.99,241.0,35.0
8,MN-09,515.0,81.0,1347.61,670.0,72.0
9,MN-10,1292.0,230.0,5079.01,1716.0,201.0
10,MN-11,1762.0,236.0,4487.02,2347.0,217.0
11,MN-12,2040.0,352.0,7675.78,2642.0,332.0
12,MN-13,4116.0,484.0,11960.96,5561.0,451.0
13,MN-14,4361.0,1399.0,41676.88,6256.0,1058.0
14,MN-15,10412.0,2379.0,58379.78,13944.0,2169.0
15,MN-16,2762.0,490.0,11061.32,3682.0,455.0
16,MN-17,3294.0,762.0,23389.16,4417.0,588.0
17,MN-18,2579.0,819.0,23184.52,3705.0,571.0
18,MN-19,9424.0,1645.0,69270.69,13502.0,1546.0
19,MN-20,10025.0,1653.0,22784.58,13583.0,1484.0
20,MN-21,4057.0,583.0,13480.54,5444.0,497.0
21,MN-22,3084.0,722.0,16857.39,4318.0,656.0
22,MN-23,3042.0,661.0,7706.77,3957.0,632.0
23,MN-24,4106.0,479.0,10530.79,5392.0,448.0
24,MN-25,9214.0,4471.0,162093.76,13121.0,3059.0
25,MN-26,2182.0,1663.0,51943.06,2961.0,841.0
26,MN-27,1931.0,1257.0,37075.55,2609.0,831.0
27,MN-28,4178.0,2480.0,67191.91,5516.0,1727.0
28,MN-29,4150.0,1519.0,35927.68,5346.0,1094.0
29,MN-30,2755.0,688.0,25371.02,3771.0,476.0
30,MN-31,1166.0,355.0,11109.33,1584.0,266.0
31,MN-32,1133.0,533.0,15247.31,1484.0,342.0
32,MN-33,927.0,388.0,10415.60,1184.0,267.0
33,MN-34,1610.0,1001.0,34351.54,2106.0,536.0
34,MN-35,1039.0,417.0,14231.61,1418.0,282.0
35,MN-36,8393.0,2255.0,76049.52,11890.0,2122.0
36,MN-37,845.0,252.0,7781.34,1160.0,186.0
37,MN-38,4840.0,1578.0,51402.66,6456.0,777.0
38,MN-39,929.0,282.0,7554.45,1176.0,193.0
39,MN-40,1767.0,883.0,23039.63,2333.0,583.0
40,MN-41,2046.0,1613.0,124522.16,2779.0,823.0
41,MN-42,1967.0,1267.0,90693.93,2608.0,626.0
42,MN-43,1404.0,207.0,2794.23,1707.0,186.0
43,MN-44,949.0,135.0,1653.24,1139.0,130.0
44,MN-45,842.0,358.0,11995.80,1046.0,167.0
45,MN-46,593.0,173.0,4848.57,736.0,104.0
46,MN-47,635.0,306.0,23508.05,834.0,183.0
47,MN-48,751.0,288.0,25328.42,983.0,187.0
48,MN-49,2191.0,380.0,12951.90,3014.0,277.0
49,MN-50,1803.0,361.0,10947.32,2424.0,261.0

In [18]:

df["Conversion Rate"] = ((df["Units Ordered"] / df["Sessions - Total"]) * 100).round(2)
df

,SKU,Sessions - Total,Units Ordered,Ordered Product Sales,Page Views - Total,Total Order Items,Conversion Rate
0,MN-01,1921.0,587.0,24582.01,2484.0,475.0,30.56
1,MN-02,1842.0,431.0,15678.89,2440.0,326.0,23.40
2,MN-03,859.0,196.0,7340.65,1135.0,152.0,22.82
3,MN-04,604.0,191.0,6002.72,783.0,126.0,31.62
4,MN-05,1917.0,341.0,8040.18,3011.0,302.0,17.79
5,MN-06,562.0,124.0,1978.61,746.0,106.0,22.06
6,MN-07,1815.0,236.0,8815.03,2553.0,221.0,13.00
7,MN-08,168.0,43.0,1300.99,241.0,35.0,25.60
8,MN-09,515.0,81.0,1347.61,670.0,72.0,15.73
9,MN-10,1292.0,230.0,5079.01,1716.0,201.0,17.80
10,MN-11,1762.0,236.0,4487.02,2347.0,217.0,13.39
11,MN-12,2040.0,352.0,7675.78,2642.0,332.0,17.25
12,MN-13,4116.0,484.0,11960.96,5561.0,451.0,11.76
13,MN-14,4361.0,1399.0,41676.88,6256.0,1058.0,32.08
14,MN-15,10412.0,2379.0,58379.78,13944.0,2169.0,22.85
15,MN-16,2762.0,490.0,11061.32,3682.0,455.0,17.74
16,MN-17,3294.0,762.0,23389.16,4417.0,588.0,23.13
17,MN-18,2579.0,819.0,23184.52,3705.0,571.0,31.76
18,MN-19,9424.0,1645.0,69270.69,13502.0,1546.0,17.46
19,MN-20,10025.0,1653.0,22784.58,13583.0,1484.0,16.49
20,MN-21,4057.0,583.0,13480.54,5444.0,497.0,14.37
21,MN-22,3084.0,722.0,16857.39,4318.0,656.0,23.41
22,MN-23,3042.0,661.0,7706.77,3957.0,632.0,21.73
23,MN-24,4106.0,479.0,10530.79,5392.0,448.0,11.67
24,MN-25,9214.0,4471.0,162093.76,13121.0,3059.0,48.52
25,MN-26,2182.0,1663.0,51943.06,2961.0,841.0,76.21
26,MN-27,1931.0,1257.0,37075.55,2609.0,831.0,65.10
27,MN-28,4178.0,2480.0,67191.91,5516.0,1727.0,59.36
28,MN-29,4150.0,1519.0,35927.68,5346.0,1094.0,36.60
29,MN-30,2755.0,688.0,25371.02,3771.0,476.0,24.97
30,MN-31,1166.0,355.0,11109.33,1584.0,266.0,30.45
31,MN-32,1133.0,533.0,15247.31,1484.0,342.0,47.04
32,MN-33,927.0,388.0,10415.60,1184.0,267.0,41.86
33,MN-34,1610.0,1001.0,34351.54,2106.0,536.0,62.17
34,MN-35,1039.0,417.0,14231.61,1418.0,282.0,40.13
35,MN-36,8393.0,2255.0,76049.52,11890.0,2122.0,26.87
36,MN-37,845.0,252.0,7781.34,1160.0,186.0,29.82
37,MN-38,4840.0,1578.0,51402.66,6456.0,777.0,32.60
38,MN-39,929.0,282.0,7554.45,1176.0,193.0,30.36
39,MN-40,1767.0,883.0,23039.63,2333.0,583.0,49.97
40,MN-41,2046.0,1613.0,124522.16,2779.0,823.0,78.84
41,MN-42,1967.0,1267.0,90693.93,2608.0,626.0,64.41
42,MN-43,1404.0,207.0,2794.23,1707.0,186.0,14.74
43,MN-44,949.0,135.0,1653.24,1139.0,130.0,14.23
44,MN-45,842.0,358.0,11995.80,1046.0,167.0,42.52
45,MN-46,593.0,173.0,4848.57,736.0,104.0,29.17
46,MN-47,635.0,306.0,23508.05,834.0,183.0,48.19
47,MN-48,751.0,288.0,25328.42,983.0,187.0,38.35
48,MN-49,2191.0,380.0,12951.90,3014.0,277.0,17.34
49,MN-50,1803.0,361.0,10947.32,2424.0,261.0,20.02

In [19]:
conversion_median = df["Conversion Rate"].median()
conversion_median

26.235

In [20]:
df["Revenue per Session"] =  round(((df["Ordered Product Sales"] / df["Sessions - Total"]) * 100),2)
df

,SKU,Sessions - Total,Units Ordered,Ordered Product Sales,Page Views - Total,Total Order Items,Conversion Rate,Revenue per Session
0,MN-01,1921.0,587.0,24582.01,2484.0,475.0,30.56,1279.65
1,MN-02,1842.0,431.0,15678.89,2440.0,326.0,23.40,851.19
2,MN-03,859.0,196.0,7340.65,1135.0,152.0,22.82,854.56
3,MN-04,604.0,191.0,6002.72,783.0,126.0,31.62,993.83
4,MN-05,1917.0,341.0,8040.18,3011.0,302.0,17.79,419.41
5,MN-06,562.0,124.0,1978.61,746.0,106.0,22.06,352.07
6,MN-07,1815.0,236.0,8815.03,2553.0,221.0,13.00,485.68
7,MN-08,168.0,43.0,1300.99,241.0,35.0,25.60,774.40
8,MN-09,515.0,81.0,1347.61,670.0,72.0,15.73,261.67
9,MN-10,1292.0,230.0,5079.01,1716.0,201.0,17.80,393.11
10,MN-11,1762.0,236.0,4487.02,2347.0,217.0,13.39,254.65
11,MN-12,2040.0,352.0,7675.78,2642.0,332.0,17.25,376.26
12,MN-13,4116.0,484.0,11960.96,5561.0,451.0,11.76,290.60
13,MN-14,4361.0,1399.0,41676.88,6256.0,1058.0,32.08,955.67
14,MN-15,10412.0,2379.0,58379.78,13944.0,2169.0,22.85,560.70
15,MN-16,2762.0,490.0,11061.32,3682.0,455.0,17.74,400.48
16,MN-17,3294.0,762.0,23389.16,4417.0,588.0,23.13,710.05
17,MN-18,2579.0,819.0,23184.52,3705.0,571.0,31.76,898.97
18,MN-19,9424.0,1645.0,69270.69,13502.0,1546.0,17.46,735.05
19,MN-20,10025.0,1653.0,22784.58,13583.0,1484.0,16.49,227.28
20,MN-21,4057.0,583.0,13480.54,5444.0,497.0,14.37,332.28
21,MN-22,3084.0,722.0,16857.39,4318.0,656.0,23.41,546.61
22,MN-23,3042.0,661.0,7706.77,3957.0,632.0,21.73,253.35
23,MN-24,4106.0,479.0,10530.79,5392.0,448.0,11.67,256.47
24,MN-25,9214.0,4471.0,162093.76,13121.0,3059.0,48.52,1759.21
25,MN-26,2182.0,1663.0,51943.06,2961.0,841.0,76.21,2380.53
26,MN-27,1931.0,1257.0,37075.55,2609.0,831.0,65.10,1920.02
27,MN-28,4178.0,2480.0,67191.91,5516.0,1727.0,59.36,1608.23
28,MN-29,4150.0,1519.0,35927.68,5346.0,1094.0,36.60,865.73
29,MN-30,2755.0,688.0,25371.02,3771.0,476.0,24.97,920.91
30,MN-31,1166.0,355.0,11109.33,1584.0,266.0,30.45,952.77
31,MN-32,1133.0,533.0,15247.31,1484.0,342.0,47.04,1345.75
32,MN-33,927.0,388.0,10415.60,1184.0,267.0,41.86,1123.58
33,MN-34,1610.0,1001.0,34351.54,2106.0,536.0,62.17,2133.64
34,MN-35,1039.0,417.0,14231.61,1418.0,282.0,40.13,1369.74
35,MN-36,8393.0,2255.0,76049.52,11890.0,2122.0,26.87,906.11
36,MN-37,845.0,252.0,7781.34,1160.0,186.0,29.82,920.87
37,MN-38,4840.0,1578.0,51402.66,6456.0,777.0,32.60,1062.04
38,MN-39,929.0,282.0,7554.45,1176.0,193.0,30.36,813.18
39,MN-40,1767.0,883.0,23039.63,2333.0,583.0,49.97,1303.88
40,MN-41,2046.0,1613.0,124522.16,2779.0,823.0,78.84,6086.13
41,MN-42,1967.0,1267.0,90693.93,2608.0,626.0,64.41,4610.77
42,MN-43,1404.0,207.0,2794.23,1707.0,186.0,14.74,199.02
43,MN-44,949.0,135.0,1653.24,1139.0,130.0,14.23,174.21
44,MN-45,842.0,358.0,11995.80,1046.0,167.0,42.52,1424.68
45,MN-46,593.0,173.0,4848.57,736.0,104.0,29.17,817.63
46,MN-47,635.0,306.0,23508.05,834.0,183.0,48.19,3702.06
47,MN-48,751.0,288.0,25328.42,983.0,187.0,38.35,3372.63
48,MN-49,2191.0,380.0,12951.90,3014.0,277.0,17.34,591.14
49,MN-50,1803.0,361.0,10947.32,2424.0,261.0,20.02,607.17

In [21]:
df["Demand Strength"] = np.where(
    df["Conversion Rate"] >= conversion_median,
    "Strong Demand",
    "Weak Demand"
)
df

,SKU,Sessions - Total,Units Ordered,Ordered Product Sales,Page Views - Total,Total Order Items,Conversion Rate,Revenue per Session,Demand Strength
0,MN-01,1921.0,587.0,24582.01,2484.0,475.0,30.56,1279.65,Strong Demand
1,MN-02,1842.0,431.0,15678.89,2440.0,326.0,23.40,851.19,Weak Demand
2,MN-03,859.0,196.0,7340.65,1135.0,152.0,22.82,854.56,Weak Demand
3,MN-04,604.0,191.0,6002.72,783.0,126.0,31.62,993.83,Strong Demand
4,MN-05,1917.0,341.0,8040.18,3011.0,302.0,17.79,419.41,Weak Demand
5,MN-06,562.0,124.0,1978.61,746.0,106.0,22.06,352.07,Weak Demand
6,MN-07,1815.0,236.0,8815.03,2553.0,221.0,13.00,485.68,Weak Demand
7,MN-08,168.0,43.0,1300.99,241.0,35.0,25.60,774.40,Weak Demand
8,MN-09,515.0,81.0,1347.61,670.0,72.0,15.73,261.67,Weak Demand
9,MN-10,1292.0,230.0,5079.01,1716.0,201.0,17.80,393.11,Weak Demand
10,MN-11,1762.0,236.0,4487.02,2347.0,217.0,13.39,254.65,Weak Demand
11,MN-12,2040.0,352.0,7675.78,2642.0,332.0,17.25,376.26,Weak Demand
12,MN-13,4116.0,484.0,11960.96,5561.0,451.0,11.76,290.60,Weak Demand
13,MN-14,4361.0,1399.0,41676.88,6256.0,1058.0,32.08,955.67,Strong Demand
14,MN-15,10412.0,2379.0,58379.78,13944.0,2169.0,22.85,560.70,Weak Demand
15,MN-16,2762.0,490.0,11061.32,3682.0,455.0,17.74,400.48,Weak Demand
16,MN-17,3294.0,762.0,23389.16,4417.0,588.0,23.13,710.05,Weak Demand
17,MN-18,2579.0,819.0,23184.52,3705.0,571.0,31.76,898.97,Strong Demand
18,MN-19,9424.0,1645.0,69270.69,13502.0,1546.0,17.46,735.05,Weak Demand
19,MN-20,10025.0,1653.0,22784.58,13583.0,1484.0,16.49,227.28,Weak Demand
20,MN-21,4057.0,583.0,13480.54,5444.0,497.0,14.37,332.28,Weak Demand
21,MN-22,3084.0,722.0,16857.39,4318.0,656.0,23.41,546.61,Weak Demand
22,MN-23,3042.0,661.0,7706.77,3957.0,632.0,21.73,253.35,Weak Demand
23,MN-24,4106.0,479.0,10530.79,5392.0,448.0,11.67,256.47,Weak Demand
24,MN-25,9214.0,4471.0,162093.76,13121.0,3059.0,48.52,1759.21,Strong Demand
25,MN-26,2182.0,1663.0,51943.06,2961.0,841.0,76.21,2380.53,Strong Demand
26,MN-27,1931.0,1257.0,37075.55,2609.0,831.0,65.10,1920.02,Strong Demand
27,MN-28,4178.0,2480.0,67191.91,5516.0,1727.0,59.36,1608.23,Strong Demand
28,MN-29,4150.0,1519.0,35927.68,5346.0,1094.0,36.60,865.73,Strong Demand
29,MN-30,2755.0,688.0,25371.02,3771.0,476.0,24.97,920.91,Weak Demand
30,MN-31,1166.0,355.0,11109.33,1584.0,266.0,30.45,952.77,Strong Demand
31,MN-32,1133.0,533.0,15247.31,1484.0,342.0,47.04,1345.75,Strong Demand
32,MN-33,927.0,388.0,10415.60,1184.0,267.0,41.86,1123.58,Strong Demand
33,MN-34,1610.0,1001.0,34351.54,2106.0,536.0,62.17,2133.64,Strong Demand
34,MN-35,1039.0,417.0,14231.61,1418.0,282.0,40.13,1369.74,Strong Demand
35,MN-36,8393.0,2255.0,76049.52,11890.0,2122.0,26.87,906.11,Strong Demand
36,MN-37,845.0,252.0,7781.34,1160.0,186.0,29.82,920.87,Strong Demand
37,MN-38,4840.0,1578.0,51402.66,6456.0,777.0,32.60,1062.04,Strong Demand
38,MN-39,929.0,282.0,7554.45,1176.0,193.0,30.36,813.18,Strong Demand
39,MN-40,1767.0,883.0,23039.63,2333.0,583.0,49.97,1303.88,Strong Demand
40,MN-41,2046.0,1613.0,124522.16,2779.0,823.0,78.84,6086.13,Strong Demand
41,MN-42,1967.0,1267.0,90693.93,2608.0,626.0,64.41,4610.77,Strong Demand
42,MN-43,1404.0,207.0,2794.23,1707.0,186.0,14.74,199.02,Weak Demand
43,MN-44,949.0,135.0,1653.24,1139.0,130.0,14.23,174.21,Weak Demand
44,MN-45,842.0,358.0,11995.80,1046.0,167.0,42.52,1424.68,Strong Demand
45,MN-46,593.0,173.0,4848.57,736.0,104.0,29.17,817.63,Strong Demand
46,MN-47,635.0,306.0,23508.05,834.0,183.0,48.19,3702.06,Strong Demand
47,MN-48,751.0,288.0,25328.42,983.0,187.0,38.35,3372.63,Strong Demand
48,MN-49,2191.0,380.0,12951.90,3014.0,277.0,17.34,591.14,Weak Demand
49,MN-50,1803.0,361.0,10947.32,2424.0,261.0,20.02,607.17,Weak Demand

In [22]:
df.to_csv("Historical_Conversion_Data.csv",index = False)

# Business Report
#### This analysis consolidates historical sales data at the SKU level to evaluate customer demand and sales efficiency across the product portfolio. 
#### By aggregating sessions, page views, units ordered, order items, and total sales, the dataset provides a holistic view of traffic, conversion, and revenue performance for each SKU.
#### Conversion Rate is used as the primary demand signal, reflecting how effectively customer visits translate into purchases. 
#### SKUs are classified into Strong Demand or Weak Demand segments based on whether their conversion rate is above or below the portfolio median, enabling relative performance benchmarking rather than arbitrary thresholds.
#### Additionally, Revenue per Session highlights monetization efficiency by showing how much revenue each customer visit generates. 
#### Together, these metrics help identify high-performing SKUs that combine strong demand and efficient revenue generation, as well as underperforming products where traffic exists but conversion or monetization is weak—supporting data-driven decisions on pricing, promotions, inventory planning, and product-level optimization.